<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Fractal Editor</title>
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
<style type="text/css">
body {
	font-family:sans-serif;
}
.fractal {
	float:left;
	width:200px;
	min-height:100px;
	text-align:center;
}
.fractal img {
	max-height: 200px;
}
</style>
</head>
<body>
<p>These are fractals created from <a href="https://en.wikipedia.org/wiki/Iterated_function_system">Iterated function systems</a>. You can see static images below.  Click to see the fractal rendered in 3-d using WebGL.  You will need a computer with a decent graphics card.  Your phone may even render the fractal better than your computer.</p>
<p>Create your own - <a href="/static/FractalEditor.apk">download the FractalEditor app for Android</a></p>
{%for fractal in fractals %}
    <div class="fractal">
        <a href="/fractal/{{fractal.id}}">{{fractal.name}}</a>
        {% if show_edit_links %}
        <a href="/app?id={{fractal.id}}&name={{fractal.name}}&thumbnail={{fractal.thumbnail.filename}}&transforms={{fractal.transforms}}">(Edit)</a>
        {% endif %}
        {% if fractal.hasthumbnail %}
        <a href="/fractal/{{fractal.id}}">
            <img src="{{fractal.thumbnail.url}}">
        </a>
        {% endif %}
    </div>
{% endfor%}
</body>
