body {
    font-family:sans-serif;
}
#content {
    max-width: 1000px;
    margin: auto;
}
.fractal {
    float:left;
    width:200px;
    min-height:100px;
    text-align:center;
}
.fractal img {
    max-height: 200px;
}
footer {
    padding-top: 1em;
    text-align: center;
    clear: both
}
